*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	list-style:none;
	text-decoration: none; 
	box-sizing: border-box;
}
.header{
	background: #76c7c0;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.h1{
	font-size: 30px;
	font-family: "OpenSans";
	color: rgb(255, 255, 255);
}
.h3{
	padding-top: 15px;
	font-size: 15px;
	font-family: "OpenSans";
	color: rgb(255, 255, 255);
}
.header__inner{
	display: flex;
	padding: 35px 0 20px 0;
	justify-content: space-between;
}
.header__logo{
	display: flex;
}

.li__link:hover{
	background-color: #62a29e;
	border-radius: 10%;
}
li{
	font-size: 13px;
	font-family: "OpenSans";
	color: rgb(255, 255, 255);
}
nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
nav ul li {
	display:inline-block;
}
.testli{
	padding: 0 20px 0 20px;
}
.li__dropdown:hover{
	background-color: #e5655d;
}
nav a {
	display:block;
    padding:4px 10px;
	color:#FFF;
	background-color: #e5655d;
}
nav a:hover {
	background-color: #76c7c0;
	border-radius: 8px;
}
.li__test{
	padding-top: 2px;
}
nav ul ul {
	display: none;
	position: absolute;
	top: 110%;
	right: 32.5%;
	z-index: 3;
}		
nav ul li:hover > ul {
	display:inherit;
	background-color: #e2534b;
}
nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}

/*  Humburger */
.hamburger {
	position: absolute;
right: 15px;
top: 25px;
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }
  /*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }
.nav{
	padding-right: 30px;
}
.header__link{
	display: flex;
}
.lupu{
	width: 20px;
	height: 20px;	
}
.img__header{
	background-image: url("../img/Path.png");
	background-repeat: no-repeat;
	padding-bottom: 10px;
}
.section__info{
	background-color: #ececec;
	display: flex;
	justify-content: space-between;
}
.text__info,.button__div{
	padding: 20px;
}
.h2__info{
    font-size: 30px;
    font-family: "OpenSans";
    color: rgb(127, 140, 140);
}
.p2__info{
  	font-size: 13px;
  	font-family: "OpenSans";
  	color: rgb(119, 119, 119);
}
.button__info{
	width: 202px;
	height: 55px;
	background-color: #e8645a;
	font-size: 20px;
	font-family: "OpenSans";
	color: rgb(255, 255, 255);
	border:none;
}
.section{
	background-color: #f3f3f3;
	padding-bottom: 70px;
}
.section__service{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}
.flex__box{
	background-color: #f8f8f8;
	width: 274px;
	height: 317px;
}
.flex__boxbox{
	padding-top: 50px;
	padding-left: 15px
}
.p__flexbox{
	padding-top: 36px;
	font-size: 13px;
	font-family: "OpenSans";
	color: rgb(119, 119, 119);
	line-height: 1.6;
	text-align: center;
}
.h3__flexbox{
 	font-size: 16px;
	font-family: "OpenSans";
	color: rgb(127, 140, 140);
	text-align: center;
}
.button__flex{
	text-align: center;
    padding-top:56px;
}
.button__flexbox{
	  font-size: 14px;
	  font-family: "OpenSans";
	  color: rgb(255, 255, 255);
	  width: 202px;
	  height: 56px;
	  background-color: #e8645a;
	  border-radius: 10px;
	  border:none;
}
.img__flexbox{
	padding-left:110px;
}
.flex__box:hover{
	background-color: white;
}
.section__about{
	background-image: url("../img/path2.png");
	background-repeat: no-repeat;
	background-color: #ececec;
	padding-bottom: 206px;
}
.versus{
	padding-top: 53px;
}
.h2__versus{
	font-size: 40px;
	font-family: "OpenSans";
	color: rgb(225, 82, 75);
	text-align: center;
}
.p__versus{
	font-size: 13px;
	font-family: "OpenSans";
	color: rgb(119, 119, 119);
	text-align: center;
}
.img__versus{
	padding-top: 65px;
	position: relative;
}
.img__leftverusus{
	position: absolute;
	top: 130px;
	z-index: 1;
}
.img__centerverusus{
	position: absolute;
	top: 73px;
	left: 301px;
	z-index: 4;
}
.img__rightverusus{
	position: absolute;
	top: 130px;
	left: 769px;
	z-index: 1;
}
.overlay{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 1;
}
.no-scroll {
	overflow: hidden;
}
@media screen and (max-width: 767px){
	.hamburger{
		display: block;
		z-index: 16;
	}
	nav ul li{
		display: block;
	}
	.header{
		position: relative;
	}
	.nav{

		transform: translateX(100%);
		transition: all .3s ease;
		padding: 80px 20px 0;
		position:absolute;
		top: 0;
		right: 0;
		background:#0a0a0a;
		height: 100vh;
		width: 300px;
		text-align: center;
		z-index: 10;
	}
	.nav.active{
		transform: translateX(0%);
	}
	.li__link,.li__dropdown{
		font-size: 20px;
		line-height: 1.8;
	}
	.lupu{
		display: none;
	}
	.section__service{
		flex-flow: wrap;
	}
	.button__flex{
		padding: 0
	}
	.section__about{
		padding: 0
	}
	.img__browsers_center{
		width: 380px;
	}
	.img__browsers_left{
		width: 330px;
	}
	.img__browsers_right{
		width: 360px;
	}
	.img__rightverusus{
		top: 290px;
		left: 309px;
	}
	nav ul ul{
		top: 57%;
		right: 16.5%;
	}

}